
<body>
    <aside class="sidebar">
        <section>
            <h3>Ingresar</h3>
            <form action="">
                <input type="number" id="txtCd" placeholder="Código" class="texto" >
                <input type="text" id="txtArt" placeholder="Artículo"  class="texto" >
                <input type="text" id="txtCat" placeholder="Categoria (Golosinas o Bebidas)"  class="texto" >
                <input type="text" id="txtDepo" placeholder="Deposito 1 o 2"  class="texto" >
                <input type="number" id="txtCant" placeholder="Cantidad"  class="texto" >
                <br>
                <input type="button" value="Agregar" onclick="Agregar()" class="boton">
                <input type="button" value="Listar" onclick="Listar()" class="boton">
                <input type="button" value="Estadística" onclick="verEstadisticas()" class="boton">
                <input type="button" value="Salir" onclick="window.close();" class="boton2">
                <br>
                <p class ="integrantes">Integrantes:</p>                
                <p class="nombres">Juan Castañar – Mat. 28.454</p>
                
            </form>
        </section> 

    </aside>
    
</body>