.row {
    background-color: #ffffff;
}

footer {
    color: #202020;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #9999;

    padding: 20px;
}