<body>
  <div class="wellcome">
    <h1>¡Bienvenidos!</h1>
    <h4>Llegamos para Brindarles Soluciones tecnológicas.</h4>
  </div>
  <section class="form-contacto">
    <h4>Contáctenos</h4>
    <input
      class="controls"
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre completo"
    />
    <input
      class="controls"
      type="text"
      name="empresa"
      id="empresa"
      placeholder="Nombre de empresa"
    />
    <input
      class="controls"
      type="email"
      name="correo"
      id="correo"
      placeholder="Correo electrónico"
    />
    <input
      class="controls"
      type="phone"
      name="telefono"
      id="telefono"
      placeholder="Número de contacto"
    />
    <textarea
      class="controls"
      type="textarea"
      name="mensaje"
      id="mensaje"
      rows="5"
      cols="30"
      placeholder="Como podemos ayudarte?"
    >
    </textarea>
    <br />

    <button class="boton" type="submit" value="Enviar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
      <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
    </svg> ENVIAR</button>
  </section>
</body>
