body{
    background-image: url(../../../assets/img/productos.jpg) ;
    background-size: cover;
    background-color: rgb(136, 165, 245);
    opacity: 0.95;
    min-height: 100%;
    font-family: sans-serif;
    padding: 0px 8px 10px;
}