<body>
  <section class="servicios">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3>NUESTROS SERVICIOS</h3>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="item__servicios">
            <h4>Nosotros</h4>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
            </p>
            <a href="#">Leer más...</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="item__servicios">
            <h4>Servicios</h4>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
            </p>
            <a href="#">Leer más...</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="item__servicios">
            <h4>Productos</h4>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
            </p>
            <a href="#">Leer más...</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
