<body>
  <section class="servicios">    
      <div class="col-lg-12 text-center">
        <h3>NUESTROS SERVICIOS</h3>
      </div>    
  </section>

  <section class="container"> 
    <div class="row">
    
      <div class="col-lg-4">
        <div class="item__servicios">
          <img
            src="..//..//../assets/icons/icons8-grupos-de-usuarios-64.png"
            alt="About"
            height="64px"
            weight="64px"
          />
          <h4>Nosotros</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos</p>
          <a href="#">Leer más...</a>
        </div>
      </div>    

    <div class="col-lg-4">
      <div class="item__servicios">
        <img
          src="..//..//../assets/icons/icons8-apretón-de-manos-64.png"
          alt="Servicios"
          height="64px"
          weight="64px"
        />
        <h4>Servicios</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos</p>
        <a href="#">Leer más...</a>
      </div>
    </div>
    
      <div class="col-lg-4">
        <div class="item__servicios">
          <img
            src="..//..//../assets/icons/icons8-hand-box-64.png"
            alt="Productos"
            height="64px"
            weight="64px"
          />
          <h4>Productos</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos</p>
          <a href="#">Leer más...</a>
        </div>
      </div> 
    </div> 
  </section>
</body>
